body {
  background-attachment: fixed;
  background-image: url(milkway_splash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, p {
  color: red;
}
